{% assign upsell_functionality = settings.activate_upsell_functionality %}
{% assign onetime_upsell_products = settings.onetime_upsell_product %}
{% assign subscription_upsell_products = settings.subscription_upsell_product %}

<section
  class="b-mini_cart"
  x-cloak
  :class="$store.cart.isCartOpen ? 'is-open' : 'is-closed'"
  @click.outside="$store.cart.toggleCart(false)">
  <div class="p-5 h-full flex flex-col">
    <span class="b-mini_cart-close text-color_1" @click="$store.cart.toggleCart()">

      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="currentColor" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
      </path></svg>
    </span>
    <div class="b-mini_cart-header py-5">
      <h3 class="b-mini_cart-title text-xl font-fkroman">Your Cart <span x-text="$store.cart.itemsCount > 0 ? '(' + $store.cart.itemsCount + ')' : '(0)'"></span></h3>
    </div>

    {% comment %} <template x-if="!$store.cart.shippingDiscount.isFreeShippingUnlocked">
      <p class="text-left mb-4">
        You are <span x-text="$store.cart.shippingDiscount.shippingLeft"></span> away from FREE SHIPPING
      </p>
    </template> {% endcomment %}
    {% comment %} <template x-if="$store.cart.shippingDiscount.isFreeShippingUnlocked">
      <p class="text-left mb-4 text-green-500">Congratulations! You unlocked FREE SHIPPING!</p>
    </template> {% endcomment %}
    {% comment %} <div class="b-mini_cart-progress-bar">
      <div
        class="b-mini_cart-progress-bar-fill"
        :style="{ width: `${$store.cart.shippingDiscount.shippingProgress}%` }"></div>
    </div> {% endcomment %}

    <div class="drawer__header-row progress-bar-row" x-show="$store.cart.items.length > 0">
      {% comment %} {% render 'progress-bar' data: 'cart' %} {% endcomment %}
      {% render 'custom-progress-bar' data: 'cart' %}
    </div>

  


    <div class="b-mini_cart-empty flex grow justify-center items-center" x-show="$store.cart.items.length === 0">
      {% if settings.empty_cart_title != blank %}
          <h2 class="text-center">{{ settings.empty_cart_title }}</h2>  
      {% endif %}
      {% if settings.empty_cart_content != blank %}
          <span class="empty-subheading">{{ settings.empty_cart_content }}</span>
      {% endif %}
      <div class="custom-product-feature">
        <div class="product-feature-main">
          {% assign pro_feature_image = settings.product_feature_image %}
          {% if pro_feature_image != blank  %}
            <div class="product-feature-image">
              {% render 'image-element',
                image: pro_feature_image,
                widths: '100, 200, 300, 375, 550, 750, 1100, 1500, 1780',
                sizes: '(max-width: 989px) 100vw, 45vw',
                class: 'product-feature-image'
              %}
            </div>
          {% endif %}
          <div class="product-feature-content">
            {% if settings.product_feature_title != blank %}
              {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
              {% assign main_heading = settings.product_feature_title | replace: '$heart', heart_svg %}
              <h3 class="product-feature-title">{{ main_heading }}</h3>
            {% endif %}
            {% if settings.product_feature_content != blank %}
              <span class="product-feature-description">
                {{ settings.product_feature_content }}
              </span>
            {% endif %}
            {% if settings.product_feature_btn_url != blank and settings.product_feature_btn_txt != blank %}
              <div class="mt-[50px] max-md:mt-[24px]">
                {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
                {% assign main_btn = settings.product_feature_btn_txt | replace: '$heart', heart_svg %}
                <a href="{{ settings.product_feature_btn_url }}" class="button button-primary !max-w-[390px] w-full max-md:mx-auto">
                  {{ main_btn }}
                </a>
              </div>
            {% endif %}          
          </div>
        </div>
    </div>
    <div class="empty-footer-logo">
        <div class="custom-walmart-logo">
          {% assign walmart_svg = 'icon-walmart.svg' | inline_asset_content %}
          {% assign main_button = settings.empty_btm_walmart | replace: '$walmart', walmart_svg %} 
          {{ main_button }}
        </div>
      <span>
        {{ "arrow-bottom-right.svg" | inline_asset_content }}
      </span>
    </div>

    </div>
    
    <div
      class="b-mini_cart-list flex flex-col gap-6 grow max-h-[70vh] overflow-y-auto"
      x-show="$store.cart.items.length > 0"
      :class="$store.cart.isLoading ? 'm-loading' : ''">
      {% comment %} <div x-show="$store.cart.errorMessage" x-text="$store.cart.errorMessage" class="text-red-500 text-center"></div> {% endcomment %}
      {% comment %} <div class="flex justify-between uppercase opacity-50 border-b pb-4 text-xs font-Inter font-normal">
        <span>Product</span>
        <span>Total</span>
      </div> {% endcomment %}
      <template x-for="item in $store.cart.items" :key="`${item.id}-${index}`">
        <div class="b-mini_cart-item">
          <figure class="w-[100px] h-[100px] shrink-0 relative rounded-xl overflow-hidden">
            <img
              :src="item.image"
              class="absolute left-0 top-0 h-full w-full object-cover"
              width="40"
              height="40">
          </figure>
          <div class="b-mini_cart-item__desc">
            <div class="mb-4">
              <h4 x-html="item.product_title" class="w-full mb-4 pr-24 font-Inter"></h4>
              <p class="text-gray-500 text-sm">
                <template x-for="(opt, idx) in item.options_with_values" :key="idx">
                  <span>
                    <span x-text="opt.value"></span>
                    <span x-show="idx !== item.options_with_values.length - 1"> | </span>
                  </span>
                </template>
              </p>
              <p class="mt-2 text-sm font-grotesk font-normal">
                <span
                  class="line-through opacity-50"
                  x-show="item.selling_plan_allocation.selling_plan && item.selling_plan_allocation.compare_at_price > item.price"
                  x-text="'$' + (item.selling_plan_allocation.compare_at_price / 100).toFixed(2)"></span>
                <span x-text="'$' + (item.price / 100).toFixed(2)"></span>
                <div
                  class="pt-4 text-xs text-color_1 font-fkroman font-normal"
                    x-show="item.selling_plan_allocation.selling_plan && item.selling_plan_allocation.selling_plan.name">
                  <span
                    x-text="item.selling_plan_allocation.selling_plan.name"></span>
                  <span
                    x-show="item.selling_plan_allocation.selling_plan.price_adjustments[0].value > 0"
                    x-text="'and save ' + item.selling_plan_allocation.selling_plan.price_adjustments[0].value + '%'"></span>
                </div>
              </p>
                test -  <span 
                            x-show="item.compare_at_price && item.compare_at_price > item.price" 
                            class="line-through"
                            x-text="(item.compare_at_price / 100).toFixed(2)">
                          </span>
            </div>
            {% comment %} <div class="absolute right-4 top-4 flex flex-col  font-grotesk font-normal">
              <span
                x-show="item.selling_plan_allocation.selling_plan && item.selling_plan_allocation.compare_at_price > item.price"
                class="line-through opacity-50"
                x-text="'$' + (item.selling_plan_allocation.compare_at_price / 100 * item.quantity).toFixed(2)"></span>
              <span x-text="'$' + (item.price / 100 * item.quantity).toFixed(2)"></span>
            </div> {% endcomment %}
            <div class="flex">
              <div class="b-quantity !border-black mr-4">
                <span
                  @click="$store.cart.decrementQuantity(item.id, item.quantity)"
                  class="b-quantity-sign m-minus !text-black-content">
                  {{ "drawer-minus.svg" | inline_asset_content }}
                </span>
                <div x-text="item.quantity" class="b-quantity-input !text-black-content"></div>
                <span
                  @click="$store.cart.updateCart(item.id, item.quantity + 1)"
                  class="b-quantity-sign m-plus !text-black-content">
                  {{ "drawer-plus.svg" | inline_asset_content }}
                </span>
              </div>

              <button @click="$store.cart.removeFromCart(item.key)" class="text-color_4">
                {{ "drawer-delete.svg" | inline_asset_content }}
                <span class="item-remove">Remove</span>
              </button>
            </div>
            <div class="subscription-main" x-show="item.selling_plan_allocation.selling_plan && item.selling_plan_allocation.selling_plan.name" >
              {% comment %} {% render 'subscrip tion-form' %} {% endcomment %}
            </div>
          </div>
        </div>
      </template>
    </div>

    {% comment %} <div class="custom-upsell-products" x-show="$store.cart.items.length != 0">
      {% if settings.custom_upsell_product != blank %}
          {% assign add_on_product = settings.custom_upsell_product %}
            <div class="custom-upsell">
              {% if settings.custom_upsell_heading != blank %}
                <h2 class="heading">{{ settings.custom_upsell_heading }}</h2>
              {% endif %}
              <input type="checkbox" class="customupsell" id="custom-upsell-{{ forloop.index }}" data-variant-id="{{ add_on_product.selected_or_first_available_variant.id }}">
              <label for="custom-upsell-{{ forloop.index }}" class="add-on-label">
                <div class="flex-add-on-details">
                  <div class="add-on-image">
                    {%- render 'image-element',
                      image: add_on_product.featured_image,
                      widths: '400, 500, 600, 700, 800',
                      sizes: '(max-width: 749px) 100vw, 45vw',
                      class: 'custom-upsell-image'
                    -%}
                  </div>
                  <div class="add-on-text">
                    <h2 class="title">{{ add_on_product.title }}</h2>
                    <p class="price">{{ add_on_product.selected_or_first_available_variant.price | money }}</p>
                  </div>
                </div>
              </label>
            </div>
        {% endif %}
    </div>   {% endcomment %}
    
    {% if settings.show_cart_products_carousel %}
      <div class="b-mini_cart-carousel hidden">
        <h4 class="font-Gazpacho text-xl mt-6 mb-4">You may also like</h4>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for product_item in settings.cart_products %}
              {% assign productMeta = product_item.metafields.custom %}
              <div class="swiper-slide">
                <div class="b-cart_item flex w-full">
                  <figure class="w-[100px] h-[100px] shrink-0 relative rounded-xl overflow-hidden">
                    <img
                      src="{{ product_item.featured_image | img_url: '100x100' }}"
                      class="absolute left-0 top-0 h-full w-full object-cover"
                      width="40"
                      height="40">
                  </figure>
                  <div class="b-cart_item__desc grow pl-4 pt-2">
                    <h4 class="w-full mb-2 font-Gazpacho">{{ product_item.title }}</h4>
                    {% if productMeta.subtitle %}
                      <h5 class="mb-4">{{ productMeta.subtitle }}</h5>
                    {% endif %}
                    <div class="flex justify-between">
                      <span class="text-base grow">{{ product_item.price | money }}</span>
                      <span
                        class="btn btn-primary   cursor-pointer"
                        aria-label="Add to cart"
                        data-product-id="{{ product_item.first_available_variant.id }}"
                        @click="$store.cart.addToCart({variantId: $el.dataset.productId}, false)"
                      >Add +</span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="b-mini_cart-carousel__footer">
            <div id="prev-swiper" class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div id="next-swiper" class="swiper-button-next"></div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var swiper = new Swiper('.b-mini_cart-carousel .swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            autoplay: {
              delay: 5000,
            },
            navigation: {
              nextEl: '.b-mini_cart-carousel #next-swiper',
              prevEl: '.b-mini_cart-carousel #prev-swiper',
            },
            pagination: {
              el: ".b-mini_cart-carousel .swiper-pagination",
              type: "fraction",
            },
          });
        });
      </script>
    {% endif %}

    {% if upsell_functionality %}
    <div class="b-mini_cart-upsell flex flex-col gap-4" x-data x-show="$store.cart.items.length != 0">
        {% for item in subscription_upsell_products %}
            {% assign activeVariant = item.selected_or_first_available_variant %}
            {% assign sellingPlan = activeVariant.selling_plan_allocations[0].selling_plan %}
            
            <figure class="b-mini_cart-upsell-product" x-show="!$store.cart.items.find(item => item.id === {{activeVariant.id}})">
                {% if settings.subscription_upsell_title != blank %}
                    <div class="b-mini_cart-upsell-product-header">
                        {{ settings.subscription_upsell_title }}
                    </div>
                {% endif %}
                <div class="b-mini_cart-upsell-product-inner flex items-center">
                    <div class="b-mini_cart-upsell-product-img">
                        <img src="{{ item.featured_image | image_url: width: 160 }}" alt="{{ item.title }}" width="160" height="160">
                    </div>
                    <div class="b-mini_cart-upsell-product-desc flex justify-between">
                        <div class="b-mini_cart-upsell-product-name">
                            <h4 class="b-mini_cart-upsell-product-title">{{ item.title }}</h4>
                            <p class="b-mini_cart-upsell-product-subtitle">{{ sellingPlan.name }}</p>
                        </div>
                        <div class="b-mini_cart-upsell-product-price flex flex-col gap-4 text-right">
                            {{ item.price | money }}

                            <button class="button button-sm" @click="$store.cart.addToCart({variantId: {{activeVariant.id}}, sellingPlanId: {{sellingPlan.id | default: false }}})">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </figure>
        {% endfor %}

        {% for item in onetime_upsell_products %}
            {% assign activeVariant = item.selected_or_first_available_variant %}
            <figure class="b-mini_cart-upsell-product" x-show="!$store.cart.items.find(item => item.id === {{activeVariant.id}})">
                <div class="b-mini_cart-upsell-product-inner flex items-center">
                    <div class="b-mini_cart-upsell-product-img">
                        <img src="{{ item.featured_image | image_url: width: 160 }}" alt="{{ item.title }}" width="160" height="160">
                    </div>
                    <div class="b-mini_cart-upsell-product-desc flex justify-between">
                        <div class="b-mini_cart-upsell-product-name">
                            <h4 class="b-mini_cart-upsell-product-title">{{ item.title }}</h4>
                            <p class="b-mini_cart-upsell-product-subtitle">One-time add-on</p>
                        </div>
                        <div class="b-mini_cart-upsell-product-price flex flex-col gap-4 items-end text-right">
                            {{ item.price | money }}

                            <button class="button button-sm" @click="$store.cart.addToCart({variantId: {{activeVariant.id}}})">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </figure>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Total block -->
    <div class="b-mini_cart-total flex flex-wrap justify-between" x-data x-show="$store.cart.items.length != 0">
      <p class="font-Inter hidden">Total items: <span x-text="$store.cart.itemsCount"></span></p>
      <p class="flex items-center justify-between w-full pt-4 pb-2">
        <span class="font-Inter">Subtotal</span>
        <span class="font-Inter font-bold text-xl"
          >$<span x-text="$store.cart.totalPrice"></span
        ></span>
      </p>
      <button @click="window.location.href='/checkout'" class="button min-w-full w-full mt-5">
        {{ "checkout-lock.svg" | inline_asset_content }} Secure Checkout
      </button>
      {% if settings.cart_btm_content != blank %}
        <div class="cart-drawer-bottom">
          <span class="bottom-content">{{ settings.cart_btm_content }}</span>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<script>
 document.addEventListener('DOMContentLoaded', () => {
  const checkboxes = Array.from(document.querySelectorAll('.customupsell'));

  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener('change', async (e) => {
      const cb = e.currentTarget;
      const variantId = cb.dataset.variantId;
      if (!variantId) return;

      if (cb.checked) {
        Alpine.store('cart')
          .addToCart({ variantId: Number(variantId), quantity: 1 }, true, false)
          .catch(() => {
            cb.checked = false;
          });
      } else {
        const item = Alpine.store('cart').items.find(
          (i) => Number(i.variant_id) === Number(variantId)
        );

        if (item) {
          Alpine.store('cart').removeFromCart(item.key);
        } else {
          const res = await fetch('/cart.js');
          const cart = await res.json();
          const match = cart.items.find(
            (i) => Number(i.variant_id) === Number(variantId)
          );
          if (match) {
            Alpine.store('cart').removeFromCart(match.key);
          }
        }
      }
    });
  });

  (async function syncInitial() {
    const res = await fetch('/cart.js');
    const cart = await res.json();
    checkboxes.forEach((cb) => {
      const vid = cb.dataset.variantId;
      if (!vid) return;
      cb.checked = cart.items.some(
        (i) => Number(i.variant_id) === Number(vid)
      );
    });
  })();
});
</script>