{% for item in cart.items %}
  {%- assign matched = false -%}
  {%- assign next_selling_plan = null -%}

  {%- if item.variant.selling_plan_allocations.size > 0 -%}
    {%- for allocation in item.variant.selling_plan_allocations -%}
      {%- if allocation == item.selling_plan_allocation -%}
        {%- assign matched = true -%}
        {%- break -%}
      {%- endif -%}
      {%- assign next_selling_plan = allocation -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if matched == false -%}
    <item-change
      class="tw-relative"
      data-qty="{{ item.quantity }}"
      data-line="{{ forloop.index }}"
      data-current-selling-plan="{{ item.selling_plan_allocation.selling_plan.id | default: '' }}">
      <div class="change-label tw-cursor-pointer">
        <span class="tw-text-[12px]">
          {%- for allocation in item.variant.selling_plan_allocations -%}
            {%- assign plan = allocation.selling_plan -%}
            {%- assign adjustment = plan.price_adjustments[0] -%}
            {%- if adjustment.value_type == 'percentage' -%}
              Subscribe & Save {{ adjustment.value }}% + Free Shipping
            {%- elsif adjustment.value_type == 'amount' -%}
              Subscribe & Save {{ adjustment.value | money }} + Free Shipping
            {%- endif -%}
            {%- break -%}
          {%- endfor -%}
        </span>
      </div>
    </item-change>
  {%- endif -%}
{% endfor %}