{%- assign matched = false -%}
{%- assign next_selling_plane = null -%}

{%- if item.variant.selling_plan_allocations.size > 0 -%}
  {%- for allocation in item.variant.selling_plan_allocations -%}
    {%- if item.selling_plan_allocation -%}
      {%- assign matched = true -%}
      {%- break -%}
    {%- endif -%}
    {%- assign next_selling_plane = allocation -%}
  {%- endfor -%}
{%- endif -%}
{%- if matched == false
-%}

  <item-change
    class="tw-relative"
    data-qty="{{ item.quantity }}"
    data-line="{{ forloop.index }}"
    data-current-selling-plan="{{ item.selling_plan_allocation.selling_plan.id | default: '' }}">

    {%- capture first_plan_id -%}
      {%- for allocation in item.variant.selling_plan_allocations limit:1 -%}
        {{ allocation.selling_plan.id }}
      {%- endfor -%}
    {%- endcapture -%}
    {% if item.variant.selling_plan_allocations != blank %}
    <div class="button-main">
      <div class="top-text">{{ section.settings.subscription_button_top_text }}</div>
      <div class="change-label tw-cursor-pointer tw-inline-flex tw-items-center tw-gap-1 tw-text-[#C8432B] hover:tw-text-[#a33324]" data-selling-id="{{ first_plan_id | strip }}"> 
        <span class="tw-text-[12px] tw-text-[#C8432B] tw-font-normal tw-font-primary tw-leading-[1.6] !tw-ml-0 tw-underline tw-relative">
          {%- for allocation in item.variant.selling_plan_allocations -%}
            {%- assign plan = allocation.selling_plan -%}
            {%- assign adjustment = plan.price_adjustments[0] -%}
            {%- if adjustment.value_type == 'percentage' -%}
              {{ section.settings.subscription_button_label }} & Save {{ adjustment.value }}%
            {%- elsif adjustment.value_type == 'amount' -%}
              {{ section.settings.subscription_button_label }} & Save {{ adjustment.value | money }}
            {%- endif -%}
            {%- break -%}
          {%- endfor -%}
        </span>
      </div> 
    </div>
    {% endif %}
  </item-change>
{%- endif -%}