{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
<cart-drawer id="CartDrawer" class="cart-drawer" data-id="{{ section.id }}">
  <div class="cart-drawer__content flex flex-col ">
    <div class="cart-drawer__loader hidden" id="CartDrawerLoader">
      <div class="spinner"></div>
    </div>
    <header class="cart-drawer__header p-[20px_16px_16px] flex justify-between gap-[10px] items-center border-0 border-b border-solid border-[#E3E3E3]">
      <h2 class="text-[20px] font-grotesk font-medium leading-[1] capitalize text-[#212121] tracking-normal">
        Your Cart (<span id="CartCount">{{ cart.item_count }}</span>)
      </h2>
      <button class="cart-drawer__close w-[24px] min-w-[24px] h-[24px] flex items-center justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M6 18.5L12.5 12L6 18.5ZM19 5.5L12.4988 12L19 5.5ZM12.4988 12L6 5.5L12.4988 12ZM12.5 12L19 18.5L12.5 12Z" fill="black"/>
          <path d="M6 18.5L12.5 12L19 18.5M19 5.5L12.4988 12L6 5.5" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      {% assign free_shipping_threshold = section.settings.free_shipping_threshold | times: 100 | default: 15000 %}
      {% assign cart_total = cart.total_price %}
      {% assign progress = cart_total | times: 100 | divided_by: free_shipping_threshold %}
      {% if progress > 100 %}
        {% assign progress = 100 %}
      {% endif %}
    </header>

    <div class="cart-drawer__body flex-1 flex flex-col" id="CartDrawerBody">
      {% if cart.item_count != 0 %}
        <div class="cart-drawer__progress bg-[#F1F2F5] p-[18px_16px_16px]">
          {% if cart_total >= free_shipping_threshold %}
            <p class="progress-message font-grotesk font-normal text-[13px] leading-[1.6] text-center text-black mb-[12px]">
              Congrats! You’ve unlocked <strong class="font-medium">FREE shipping!</strong>
            </p>
          {% else %}
            <p class="progress-message font-grotesk font-normal text-[13px] leading-[1.6] text-center text-black mb-[12px]">
              Spend {{ free_shipping_threshold | minus: cart_total | money }} more to unlock free shipping.
            </p>
          {% endif %}

          <div class="progress-bar">
            <div class="progress-fill !bg-scheme_two" style="width: {{ progress }}%;"></div>
          </div>
        </div>
      {% endif %}

      {% if cart.item_count == 0 %}
        <div class="px-[16px]">
          {% if section.settings.empty_cart_title != blank %}
            <h2 class="text-center font-grotesk font-medium text-[24px] leading-[1.3] tracking-[-0.05em] text-scheme_one mb-[10px] mt-[80px]">
              {{ section.settings.empty_cart_title }}
            </h2>
          {% endif %}
          {% if section.settings.empty_cart_content != blank %}
            <span class="empty-subheading font-grotesk font-normal text-[15px] leading-[1.7] text-center text-black">
              {{- section.settings.empty_cart_content -}}
            </span>
          {% endif %}
          <div class="custom-product-feature mt-[22px] p-[85px_0_80px]">
            <div class="product-feature-main bg-[#DADAFF] rounded-[16px] p-[0_20px_24px] flex flex-col">
              {% assign pro_feature_image = section.settings.product_feature_image %}
              {% if pro_feature_image != blank %}
                <div class="product-feature-image mt-[-71px] w-[160px] h-[160px] mx-auto mb-[10px] flex items-center justify-center">
                  {% render 'image-element',
                    image: pro_feature_image,
                    widths: '100, 200, 300, 375, 550, 750, 1100, 1500, 1780',
                    sizes: '(max-width: 989px) 100vw, 45vw',
                    class: 'product-feature-image max-w-full max-h-full h-auto object-contain'
                  %}
                </div>
              {% endif %}
              <div class="product-feature-content">
                {% if section.settings.product_feature_title != blank %}
                  {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
                  {% assign main_heading = section.settings.product_feature_title | replace: '$heart', heart_svg %}
                  <h3 class="product-feature-title font-grotesk font-medium [&_p]:flex [&_p]:flex-wrap [&_p]:items-center [&_p]:gap-x-[4px] [&_p]:justify-center [&_svg]:w-[17px] [&_svg]:h-auto text-scheme_one [&_strong]:font-fkroman [&_strong]:font-normal text-[20px] leading-[40px] tracking-[-0.05em]">
                    {{ main_heading }}
                  </h3>
                {% endif %}
                {% if section.settings.product_feature_content != blank %}
                  <span class="product-feature-description font-grotesk font-normal text-[13px] leading-[1.6] text-center text-black">
                    {{ section.settings.product_feature_content }}
                  </span>
                {% endif %}
                {% if section.settings.product_feature_btn_url != blank
                  and section.settings.product_feature_btn_txt != blank
                %}
                  <div class="mt-[12px]">
                    {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
                    {% assign main_btn = section.settings.product_feature_btn_txt | replace: '$heart', heart_svg %}
                    <a
                      href="{{ section.settings.product_feature_btn_url }}"
                      class="button button-primary !max-w-[390px] w-full max-md:mx-auto !px-[20px]">
                      {{ main_btn }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="empty-footer-logo relative flex items-center justify-center mt-auto py-[30px]">
            <div class="custom-walmart-logo [&_p]:flex [&_p]:items-center [&_p]:justify-center [&_p]:gap-[7px] [&_p]:flex-wrap [&_p]:font-grotesk [&_p]:font-medium [&_p]:text-[20px] [&_p]:leading-[1] [&_p]:tracking-[-0.05em] [&_p]:text-black [&_svg]:h-[18px] [&_svg]:w-auto">
              {% assign walmart_svg = 'icon-walmart.svg' | inline_asset_content %}
              {% assign main_button = section.settings.empty_btm_walmart | replace: '$walmart', walmart_svg %}
              {{ main_button }}
            </div>
            <span class="absolute top-1/2 transform -translate-y-1/2 right-[4px] w-[12px] h-auto flex items-center justify-center">
              {{ 'arrow-bottom-right.svg' | inline_asset_content }}
            </span>
          </div>
        </div>
      {% else %}
        {% for item in cart.items %}
          <div class="cart-drawer__item p-[20px_16px] flex gap-[16px]" data-key="{{ item.key }}">
            <span class="w-[80px] min-w-[80px] h-[80px] flex items-center justify-center">
              <img
                src="{{ item.image | image_url: width: 80 }}"
                alt="{{ item.title }}"
                class="object-contain max-h-full">
            </span>
            <div class="cart-drawer__details w-full">
              <p class="cart-drawer__title font-grotesk font-medium text-[16px] leading-[1.2] tracking-[0.05em] text-scheme_two mb-[10px]">
                {{ item.product.title }}
              </p>

              {% if item.variant.title != 'Default Title' %}
                {% assign variant_title = item.variant.title %}
                {% assign clean_title = variant_title | replace: '(', '' | replace: ')', '' %}

                {% if clean_title contains 'lbs' and clean_title contains 'diapers' %}
                  {% assign parts = clean_title | split: ' - ' %}
                  {% assign left_part = parts[0] %}
                  {% assign right_part = parts[1] %}

                  {% assign left_parts = left_part | split: ' ' %}
                  {% assign size = left_parts[0] | append: ' ' | append: left_parts[1] %}
                  {% assign weight = left_parts[2] | replace: 'lbs', ' lbs' %}
                  {% assign diapers = right_part | replace: 'diapers', 'Diapers' %}

                  <p class="cart-drawer__variant font-grotesk font-normal text-[13px] leading-[1] text-[#707070] mb-[10px]">
                    {{ size }}
                    <span>|</span> {{ weight }}
                    <span>|</span> {{ diapers }}
                  </p>
                {% else %}
                  <p class="cart-drawer__variant font-grotesk font-normal text-[13px] leading-[1] text-[#707070] mb-[10px]">
                    {{ variant_title }}
                  </p>
                {% endif %}
              {% endif %}

              {% assign price = item.variant.price %}
              {% assign compare_at = item.variant.compare_at_price %}

              <p class="cart-drawer__price flex items-center gap-[4px] font-Inter font-medium text-[15px] leading-[1] text-[#212121] mb-[16px]">
                {{ price | money }}
                {% if compare_at > price %}
                  <span class="compare-price text-[#909090]">{{ compare_at | money }}</span>
                  {% assign discount = compare_at | minus: price | times: 100 | divided_by: compare_at %}
                  <span class="discount-badge bg-[#82E8D3] p-[3px_8px] rounded-[24px] font-grotesk font-bold text-[11px] leading-[1.2] tracking-[-0.05em] uppercase text-black">
                    {{- discount }}% OFF</span
                  >
                {% endif %}
              </p>

              <div class="cart-drawer__quantity flex items-center justify-between gap-[10px] w-full">
                <div class="qty-box max-w-[105px] w-full flex items-center border border-solid border-[#E3E3E3] rounded-[40px]">
                  <button class="qty-btn minus w-[35px] min-w-[35px] h-[35px] flex items-center justify-center pl-[7px]">
                    {{ 'drawer-minus.svg' | inline_asset_content }}
                  </button>
                  <input
                    type="number"
                    value="{{ item.quantity }}"
                    min="1"
                    class="w-[35px] min-w-[35px] h-[35px] flex items-center justify-center font-grotesk font-normal text-[13px] leading-[1] text-black text-center pt-[2px]">
                  <button class="qty-btn plus w-[35px] min-w-[35px] h-[35px] flex items-center justify-center pr-[7px]">
                    {{ 'drawer-plus.svg' | inline_asset_content }}
                  </button>
                </div>
                <button class="cart-drawer__remove flex gap-[6px] items-center font-grotesk font-normal text-[13px] leading-[1.35] text-black underline underline-offset-2 [&_svg]:mb-[2px]">
                  {{ 'drawer-delete.svg' | inline_asset_content }}Remove
                </button>
              </div>

              <div class="subscription-main">
                {% render 'subscription-form', item: item, forloop: forloop %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if cart.item_count != 0 %}
        <div class="custom-upsell-products border-0 border-t border-solid border-[#E3E3E3] p-[30px_16px]">
          {% if section.settings.custom_upsell_product != blank %}
            {% assign add_on_product = section.settings.custom_upsell_product %}
            <div class="custom-upsell flex flex-col gap-[10px]">
              {% if section.settings.custom_upsell_heading != blank %}
                <h4 class="heading font-grotesk font-medium text-[18px] leading-[1.5] tracking-none text-black">
                  {{ section.settings.custom_upsell_heading }}
                </h4>
              {% endif %}
              <label
                for="custom-drawer-upsell"
                class="add-on-label p-[20px_14px] rounded-[12px] border border-solid border-[#E3E3E3]">
                <div class="flex-add-on-details flex items-center gap-[18px]">
                  <div class="cdp-img w-[70px] min-w-[70px] h-[70px] flex items-center justify-center">
                    <img
                      src="{{ add_on_product.featured_image |  image_url: width: 32 }}"
                      width="32"
                      height="24"
                      class="max-w-full max-h-full object-contain"
                      alt="{{ add_on_product.title }}"
                      loading="lazy">
                  </div>
                  <div class="add-on-text w-full flex items-center gap-[18px] justify-between">
                    <div class="flex flex-col gap-[4px]">
                      <span class="title font-grotesk font-normal text-[13px] leading-[1.6] text-black">
                        {{- add_on_product.title -}}
                      </span>
                      <p class="price font-grotesk font-medium text-[15px] leading-[1.6] text-black">
                        {{ add_on_product.selected_or_first_available_variant.price | money }}
                      </p>
                    </div>
                    <add-variant-checkbox
                      data-id="{{ add_on_product.selected_or_first_available_variant.id }}"></add-variant-checkbox>
                  </div>
                </div>
              </label>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if cart.item_count != blank %}
      <footer class="cart-drawer__footer p-[20px_16px_25px] border-0 border-t border-solid border-[#E3E3E3]">
        <div class="cart-drawer-addon">
          {% assign addon_product = section.settings.addon_product %}
          {% if addon_product.available %}
            <div class="cd-addon-product">
              <div class="cdp-left">
                {% assign addon_image = section.settings.addon_image | default: addon_product.featured_image %}
                {% if addon_image %}
                  <div class="cdp-img">
                    <img
                      src="{{ addon_image |  image_url: width: 32 }}"
                      width="32"
                      height="24"
                      alt="{{ addon_product.title }}"
                      loading="lazy">
                  </div>
                {% endif %}
                {% assign addon_title = section.settings.addon_title | default: addon_product.title %}
                <div class="cdp-title">
                  <p>
                    {{ addon_title }}
                    <span>({{ addon_product.price | money }})</span>
                  </p>
                </div>
              </div>
              <div class="">
                <add-variant-item data-id="{{ addon_product.selected_or_first_available_variant.id }}">
                  + Add
                </add-variant-item>
              </div>
            </div>
          {% endif %}
          {% assign addon_info = section.settings.addon_info %}
          {% if addon_info %}
            <div class="cd-addon-info">
              {{ addon_info }}
            </div>
          {% endif %}
        </div>
        <div class="cart-drawer-subtotal mb-[16px] flex items-center justify-between gap-[10px]">
          <span class="font-grotesk font-normal text-[16px] leading-[1] text-[#212121]">Subtotal:</span>
          <span class="subtotal font-grotesk font-medium text-[16px] leading-[1] text-[#212121]">
            {{- cart.total_price | money -}}
          </span>
        </div>
        <div class="cart-drawer-buttons mb-[10px]">
          <form
            method="post"
            action="{{ routes.cart_url }}"
            id="cart-form">
            <button
              type="submit"
              name="checkout"
              class="secure-checkout button flex items-center gap-[8px] [&_svg]:!m-0 w-full">
              {{ 'checkout-lock.svg' | inline_asset_content }}
              <span>Secure Checkout</span>
            </button>
          </form>
        </div>
        {% if section.settings.free_shipping_text != blank %}
          <div class="cart-drawer-shipping-text text-center font-grotesk font-normal text-[14px] leading-[1.6] text-black">
            {{ section.settings.free_shipping_text }}
          </div>
        {% endif %}
      </footer>
    {% endif %}
  </div>
</cart-drawer>
<div class="cart-drawer__overlay"></div>
{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type": "header",
      "content": "Empty Cart"
    },
    {
      "type": "text",
      "id": "empty_cart_title",
      "label": "Empty Cart Heading"
    },
    {
      "type": "richtext",
      "id": "empty_cart_content",
      "label": "Sub Content"
    },
    {
      "type": "header",
      "content": "Product Featured"
    },
    {
      "type": "image_picker",
      "id": "product_feature_image",
      "label": "Choose Image"
    },
    {
      "type": "richtext",
      "id": "product_feature_title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "product_feature_content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "product_feature_btn_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "product_feature_btn_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Button Content"
    },
    {
      "type": "richtext",
      "id": "empty_btm_walmart",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Free shipping content"
    },
    {
      "type": "number",
      "id": "free_shipping_threshold",
      "label": "Free shipping threshold",
      "default": 150
    },
    {
      "type": "richtext",
      "id": "free_shipping_text",
      "label": "Free shipping text",
      "default": "<p>Free Shipping on Orders Over $150</p>"
    },
    {
      "type": "header",
      "content": "Cart note"
    },
    {
      "type": "checkbox",
      "id": "enable_note",
      "label": "Enable note"
    },
    {
      "type": "text",
      "id": "note_heading",
      "label": "Note title",
      "default": "Add gift message or order note"
    },
    {
      "type": "header",
      "content": "Addon Product"
    },
    {
      "type": "product",
      "id": "addon_product",
      "label": "Select Product"
    },
    {
      "type": "image_picker",
      "id": "addon_image",
      "label": "Addon Product Image"
    },
    {
      "type": "text",
      "id": "addon_title",
      "label": "Addon Product Title"
    },
    {
      "type": "richtext",
      "id": "addon_info",
      "label": "Addon Product Info"
    },
    {
      "type": "header",
      "content": "Addon with Checkbox"
    },
    {
      "type": "text",
      "id": "custom_upsell_heading",
      "label": "Upsell Heading"
    },
    {
      "type": "product",
      "id": "custom_upsell_product",
      "label": "Choose Product"
    }
  ]
}
{% endschema %}
