<div class="bg-[#F1F2F5] pt-8 lg:pt-0">
  <!-- Newsletter y Menús -->
  <div class="border-0 border-b border-black">
    <div class="container">
      <div class="flex max-md:flex-col gap-[50px] max-md:gap-0">
        <!-- Columna izquierda (30%) - Newsletter -->
        <div class="max-w-[420px] max-md:max-w-[calc(100%+32px)] w-full pr-[50px] max-md:px-[16px] py-[50px] max-md:py-[40px] border-0 border-r max-md:border-r-0 max-md:border-b border-solid border-black max-md:w-[calc(100%+32px)] max-md:ml-[-16px]">
          {% if section.settings.newsletter_title != blank %}
            <h2 class="font-fkroman font-medium max-md:font-normal text-[24px] max-md:text-[30px] leading-[1.3] capitalize mb-[24px] max-md:mb-[12px] tracking-[-0.05em] max-md:text-center [&_strong]:font-grotesk [&_strong]:font-medium">
              {{ section.settings.newsletter_title }}
            </h2>
          {% endif %}
          {% if section.settings.newsletter_text != blank %}
            <p class="text font-grotesk font-normal text-[15px] leading-[1.7] text-black-text mb-[28px] max-md:text-center">
              {{ section.settings.newsletter_text }}
            </p>
          {% endif %}
          <form class="relative">
            <input
              type="email"
              class="w-full bg-white border border-solid border-[#E3E3E3] rounded-[30px] font-grotesk font-normal text-[14px] leading-[1.6] placeholder:text-[#909090] p-[18px_133px_14px_19px] max-md:pr-[18px]"
              placeholder="Enter email address">
            <button
              type="submit"
              class="button absolute top-[6px] right-[6px] !p-[0px_25px] !min-w-0 max-md:static max-md:min-h-[56px] max-md:mt-[10px] max-md:max-w-full max-md:w-full">
              Sign Up
            </button>
          </form>
        </div>

        <!-- Menus -->
        <div class="py-[50px] max-md:py-[30px] w-full">
          <div class="grid grid-cols-4 max-[1200px]:grid-cols-2 gap-[30px] max-md:gap-x-[8px] max-md:gap-y-[40px]">
            <!-- Shop -->
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'footer_nav' %}
                  {% assign bamboo_icon = settings.bamboo_icon
                    | image_url: width: 100
                    | image_tag: class: 'w-[1.2rem] inline-block translate-y-[-0.2rem] mx-1'
                  %}
                  {% assign heart_icon = settings.heart_icon
                    | image_url: width: 100
                    | image_tag: class: 'w-[1.6rem] inline-block translate-y-[-0.2rem] mx-[0.1rem]'
                  %}
                  <div>
                    <h3 class="font-grotesk font-medium text-[15px] leading-[1] tracking-[-0.05em] capitalize text-black-text mb-[16px]">
                      {{ block.settings.title }}
                    </h3>
                    {% if block.settings.menu != blank %}
                      <ul class="flex flex-col gap-[12px]">
                        {% for link in block.settings.menu.links %}
                          {% assign new_label = '<span class="font-normal text-[0.8rem] tracking-[0.02em] uppercase text-purple-700 -translate-y-[0.4rem] inline-block">New</span>' %}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="font-grotesk font-normal text-black-text text-[15px] leading-[1.6] tracking-normal">
                              {{
                                link.title
                                | replace: '[bamboo]', bamboo_icon
                                | replace: '[heart]', heart_icon
                                | replace: '[new]', new_label
                              }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tagline -->
  {% if section.settings.tagline != blank or section.settings.image != blank %}
    <div class="pt-[50px] max-md:pt-[30px]">
      <div class="container mx-auto text-center">
        {% if section.settings.image != blank %}
          <div class="image-wrapper">
            {%- render 'image-element',
              image: section.settings.image,
              widths: '375, 550, 750, 950,1150, 1500, 1780, 2000, 2500',
              sizes: '(max-width: 749px) 100vw, 100vw',
              class: 'footer-bottom-image w-full block object-cover h-full h-auto'
            -%}
          </div>
        {% endif %}
        {% if section.settings.tagline != blank %}
          <h3 class="lg:text-[48px] text-[24px] font-medium leading-[90%] tracking-[-0.045em] font-grotesk text-purple-700">
            {{
              section.settings.tagline
              | replace: '[',
                '<span class="font-fkroman font-light lg:text-[48px] text-[24px] leading-[1.3] tracking-[-0.045em]">'
              | replace: ']', '</span>'
            }}
          </h3>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <!-- Footer bottom -->
  <div class="py-[30px] max-md:pt-[20px]">
    <div class="container mx-auto gap-x-[30px] max-md:gap-x-[24px] flex flex-wrap justify-center md:flex-row md:justify-between items-center">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'footer_bottom_nav' %}
              <p class="text-[#909090] font-Inter font-normal text-[12px] leading-[1.6]">{{ block.settings.title }}</p>
              <div class="flex items-center gap-[30px] max-md:gap-[24px] flex-wrap">
                {% for link in block.settings.menu.links %}
                  <a
                    href="{{ link.url }}"
                    class="text-[#909090] font-grotesk font-normal text-[12px] leading-[1.6] relative md:before:hidden {% unless forloop.first %} before:content-[''] before:w-[1px] before:h-[16px] before:bg-[#909090] before:absolute before:left-[-12px] before:top-[1px] {% endunless %}"
                    target="_blank">
                    {{- link.title -}}
                  </a>
                {% endfor %}
              </div>
          {% endcase %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer custom",
  "settings": [
    {
      "type": "richtext",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "<p>Product launches, community fun, VIP drops, and more</p>"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_text",
      "label": "Newsletter Text"
    },
    {
      "type": "header",
      "content": "Footer Bottom Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "tagline",
      "label": "Tagline",
      "default": "Parenting is the [Ultimate Creative Act.]"
    }
  ],
  "blocks": [
    {
      "type": "footer_nav",
      "name": "Footer nav",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "footer_bottom_nav",
      "name": "Footer bottom nav",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer custom"
    }
  ]
}
{% endschema %}
