<div class="image-banner-main overflow-hidden py-[80px] max-md:py-[40px]">
  <div class="container">
    {% if section.settings.heading != blank %}
      <div class="header-wrapper text-center mb-[60px] max-md:mb-[40px]">
        <h2 class="heading [&_strong]:font-fkroman [&_strong]:font-normal">{{ section.settings.heading }}</h2>
      </div>
    {% endif %}
    <div class="bg-scheme_two-secondary rounded-[30px] relative max-md:py-[32px] max-md:px-[24px] ">
      <div class="multiple-static-images max-lg:hidden">
        {% if section.settings.image_1 != blank %}
          {%- render 'image-element',
            image: section.settings.image_1,
            widths: '90, 120, 150, 180, 210, 240, 270, 300',
            sizes: '(max-width: 749px) 50vw, 100vw',
            class: 'w-full h-auto max-w-[150px] absolute left-[70px] top-[-20px]'
          -%}
        {% endif %}
        {% if section.settings.image_2 != blank %}
          {%- render 'image-element',
            image: section.settings.image_2,
            widths: '90, 120, 150, 180, 210, 240, 270, 300',
            sizes: '(max-width: 749px) 50vw, 100vw',
            class: 'w-full h-auto max-w-[238px] absolute left-[30%] bottom-[-8px]'
          -%}
        {% endif %}
        {% if section.settings.image_4 != blank %}
          {%- render 'image-element',
            image: section.settings.image_4,
            widths: '90, 120, 150, 180, 210, 240, 270, 300',
            sizes: '(max-width: 749px) 50vw, 100vw',
            class: 'w-full h-auto max-w-[238px] absolute right-[-36px] bottom-[85px]'
          -%}
        {% endif %}
      </div>
      <div class="image-with-text-content flex items-center max-md:flex-col-reverse">
        <div class="left-text-content w-full md:w-1/2 lg:pl-[80px]  md:pl-[40px]  md:py-[40px]">
         <div class="left-text-content-inner md:max-w-[480px] w-full">
            {% if section.settings.sub_heading != blank %}
              {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
              {% assign main_sub_heading = section.settings.sub_heading | replace: '$heart', heart_svg %}
              <h2 class="sub-heading !text-[46px] max-lg:!text-[42px] !tracking-[-2.3px] max-md:!text-[24px] max-md:!tracking-[-1.2px] flex flex-wrap items-center max-md:justify-center gap-x-[5px] max-md:gap-x-[4px] [&_strong]:font-fkroman [&_strong]:!font-normal mb-[18px] max-md:mb-[16px] [&_svg]:w-[28px] [&_svg]:h-[23px]">{{ main_sub_heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
              <p class="text text-scheme_two mb-[35px] max-md:mb-[20px] max-md:text-center">{{ section.settings.text }}</p>
            {% endif %}
            {% if section.blocks.size > 0 %}
              <div class="multiple-blocks-content flex gap-[10px] max-md:gap-[7px] flex-wrap max-md:justify-center">
                {% for block in section.blocks %}
                  {% if block.settings.text != blank %}
                    <div class="block-content bg-scheme_two-tertiary text-scheme_two text-[14px] max-md:text-[10px] max-md:tracking-[-0.5px] uppercase tracking-[-0.7px] rounded-[25px] px-[10px] max-md:px-[7px] py-[7px] font-bold">
                    {{ block.settings.text }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            <div class="mt-[50px] max-md:mt-[24px]">
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                {% assign main_button = section.settings.button_label | replace: '$heart', heart_svg %}
                <a href="{{ section.settings.button_link }}" class="button button-primary !max-w-[390px] w-full max-md:mx-auto">
                  {{ main_button }}
                </a>
              {%- endif -%}
            </div>
            </div>
        </div>

        {% if section.settings.image != blank %}
          <div class="right-image-wrapper w-full md:w-1/2 relative max-md:mb-[15px] ">
            {%- render 'image-element',
              image: section.settings.image,
              widths: '375, 550, 750',
              sizes: '(max-width: 749px) 60vw, 40vw',
              class: 'w-full h-full max-w-[470px] ml-auto mr-auto md:mt-[-50px] mt-[-20px] block relative z-[1] max-md:rotate-[-8deg]'
            -%}
            {% if section.settings.image_3 != blank %}
              {%- render 'image-element',
                image: section.settings.image_3,
                widths: '90, 120, 150, 180, 210, 240, 270, 300',
                sizes: '(max-width: 749px) 50vw, 100vw',
                class: 'w-full h-auto max-w-[82px] absolute left-[17%] top-[55px] max-lg:hidden'
              -%}
          {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
     "id": "button_label",
     "label": "Button label"
    },
    {
     "type": "url",
    "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}

