<div class="image-with-text image-with-text--{{ section.id }} bg-scheme_one-white py-[50px] max-md:py-[40px] relative overflow-hidden filter">
  {% if section.settings.background_image != blank %}
    {%- render 'image-element',
      image: section.settings.background_image,
      widths: '800, 1000, 1500, 2000, 2500',
      sizes: '(max-width: 749px) 100vw, 100vw',
      class: 'background-image absolute left-0 md:top-0 max-md:bottom-[200px] w-full h-full object-cover block  max-md:blur-[20px] max-md:hidden'
    -%}
  {% endif %}
  {% if section.settings.mobile_background_image != blank %}
    {%- render 'image-element',
      image: section.settings.mobile_background_image,
      widths: '800, 1000, 1500, 2000, 2500',
      sizes: '(max-width: 749px) 100vw, 100vw',
      class: 'background-image absolute left-0 md:top-0 max-md:bottom-[160px] w-full h-full object-cover block  max-md:blur-[10px] md:hidden !h-full !object-cover !bottom-0 !filter-none'
    -%}
  {% else %}
    {%- render 'image-element',
      image: section.settings.background_image,
      widths: '800, 1000, 1500, 2000, 2500',
      sizes: '(max-width: 749px) 100vw, 100vw',
      class: 'background-image absolute left-0 md:top-0 max-md:bottom-[200px] w-full h-full object-cover block  max-md:blur-[20px] md:hidden'
    -%}
  {% endif %}
  <div class="container relative">
    <div class="image-with-text-content image-position-{{ section.settings.image_position }} grid grid-cols-2 max-md:grid-cols-1 items-center max-w-[1130px] mx-auto">
      {% if section.settings.image != blank %}
        <div class="image-wrapper  border-[1px] border-solid border-[#282829] rounded-[24px] overflow-hidden">
          {%- render 'image-element',
            image: section.settings.image,
            widths: '375, 550, 750, 950',
            sizes: '(max-width: 749px) 100vw, 50vw',
            class: 'w-full h-full object-cover block'
          -%}
        </div>
      {% endif %}
      <div class="text-content-wrapper p-[60px] max-[1199px]:p-[40px] max-md:px-[0px] max-md:pb-[0] max-md:pt-[30px]">
        {% if section.settings.sub_heading != blank %}
          <h3 class="sub-heading text-white uppercase font-bold mb-[30px] max-md:mb-[20px] leading-none">
            {{ section.settings.sub_heading }}
          </h3>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h2 class="heading text-white [&_strong]:font-fkroman [&_strong]:font-normal">
            {{ section.settings.heading }}
          </h2>
        {% endif %}
        {% if section.settings.button != blank and section.settings.link != blank %}
          <a
            class="button max-w-[300px] max-md:max-w-full !py-[3px] mt-[40px] max-md:mt-[35px] button-white"
            href="{{ section.settings.link }}">
            {{- section.settings.button -}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Image Position"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Image With Text"
    }
  ]
}
{% endschema %}
