{% if section.blocks.size > 0 %}
  {{ 'marquee.js' | asset_url | script_tag }}
  
  <div class="marquee-section section-{{ section.id }} pt-[60px] pb-[140px] max-md:py-[30px]">
    <div
      class="marquee-container overflow-hidden"
      data-marquee-container="marquee-{{ section.id }}"
    >
      <div
        class="marquee-track marquee-track-{{ section.id }} flex gap-[60px] w-[max-content] lg:gap-[116px] "
        data-marquee-track
      >
        {%- capture marqee_content -%}
            {% for block in section.blocks %}
              {% if block.settings.image != blank %}
                <div class="marquee-item">
                  {%- render 'image-element',
                    image: block.settings.image,
                    widths: '375, 550, 750, 950',
                    sizes: '(max-width: 749px) 100vw, 100vw',
                    class: 'w-full h-full object-contain block max-h-[89px]'
                -%}
                </div>  
              {% endif %}
            {% endfor %}
          {%- endcapture -%}
        {{ marqee_content }}
        {{ marqee_content }}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Marquee",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}