<div class="cart-single-product-info mx-[-16px] p-[16px] border-[0px] border-t-[1px] border-solid border-[#E3E3E3]">
    <div class="sp-info-main flex gap-[16px] ">
      <div class="sp-info-image relative overflow-hidden min-w-[70px] min-h-[70px] rounded-[8px]">
        {% render 'image-element',
          image: product.featured_image,
          widths: '70, 100',
          sizes: '100vw',
          class: 'w-full block object-contain h-full absolute left-0 top-0'
        %}
      </div>
      <div class="sp-info-text w-[calc(100%-86px)] flex-1">
        <h4 class="text-[16px] text-scheme_one font-medium tracking-[-0.05em] leading-[1.3]">
            {{ product.title }}
        </h4>
        <div class="sp-qty-remove mt-[12px] flex items-center justify-between gap-[16px]">
            <div class="sp-qty-block grid w-[105px] max-w-[105px] h-[35px] grid-cols-3 border-[0.8px] border-solid border-[#E3E3E3] rounded-full items-center">
              <span class="sp-qty-btn sp-qty-minus flex justify-center h-full items-center cursor-pointer">
                {{ 'icon-minus.svg' | inline_asset_content }}
              </span>
              <input class="border-none text-center pointer-events-none" type="number" name="quantity" value="1" min="1" max="">
              <span class="sp-qty-btn sp-qty-plus flex justify-center h-full items-center cursor-pointer">
                {{ 'icon-plus.svg' | inline_asset_content }}
              </span>
            </div>
            <div class="sp-remove inline-flex items-center gap-[6px] text-[13px] cursor-pointer">
              {{ 'icon-remove.svg' | inline_asset_content }}
              <span class="underline">Remove</span>
            </div>
        </div>
      </div>
    </div>
    
    {% if product.variants.size > 0 %}
        <div class="sp-variant-list flex flex-wrap gap-[8px] mt-[24px]">
            {% for variant in product.variants %}
              {% if variant.available %}
                <div class="sp-variant-item w-[calc(33.33%-2/3*8px)] leading-[1] text-left border-[1px] border-solid border-[#E3E3E3] rounded-[8px] flex items-center justify-center p-[20px_8px] text-[14px] font-medium flex-col gap-[13px]" data-variant-id="{{ variant.id }}" data-product-handle="{{ product.handle }}" data-variant-title="{{ variant.title }}">
                    {% if variant.title contains 'Size' %}
                      {%- assign variant_number = variant.title |  split: '(' | first |  split: ' ' | last -%}
                      {%- assign variant_lbs = variant.title |  split: ')' | first |  split: '(' | last -%}
                      {%- assign variant_size = variant.title |  split: '-' | last -%}
                        {% if variant_number and variant_lbs %}
                            <div class="sp-item-top flex items-center gap-[8px] w-full leading-[1]">
                                <b class="font-bold text-[18px] leading-[13px]">{{ variant_number }}</b>
                                <span class="text-[#909090] text-[13px] font-normal">{{ variant_lbs }}</span>
                            </div>
                        {% endif %}
                        {% if variant_size %}
                            <div class="sp-item-bottom">
                                {{- variant_size | escape -}}
                            </div>
                        {% endif %}
                    {% else %}  
                      {{ variant.title }}
                    {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if product.metafields.custom.size_chart != blank %}
      <div class="cart-size-chart-modal hidden">
        <div class="container-main fixed top-0 left-0 w-full h-full flex items-center justify-center p-[30px] max-md:p-[20px] bg-black/60 z-[99]">
          <div class="image-main relative">
            <button class="cart-close-modal absolute top-[-15px] right-[-15px] w-[30px] h-[30px] flex items-center justify-center bg-scheme_one text-white rounded-full">
              ✕
            </button>
            {% render 'image-element'
              , image: product.metafields.custom.size_chart
              , widths: '100, 200, 300, 375, 550, 750, 1100, 1500, 1780'
              , sizes: '(max-width: 989px) 100vw, 45vw'
              , class: 'product-feature-image max-w-full max-h-full h-auto object-contain'
            %}
          </div>
        </div>
      </div>
    {% endif %}
</div>